<!DOCTYPE html>
<html lang="end">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<title>Result Page</title>
</head>
<body>
	<h1>
		Model Result
	</h1>

	<h2>
		Image Provided
	</h2>
	<img src="/static/files/test.jpg" width="512px">

	<h2>
		Model's Interpretation
	</h2>
	<img src="/static/files/output.jpg" width="512px">

	<br>
	
	<a href="/">Return to main page</a>
</body>
</html>